* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
}
.icon {
  width: 50%;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
}
.ball {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 7px;
}
/* ---- ---- Light Mode ---- ---- */
.light {
  background-color: #fafafa;
}
.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #fff;
}
.light .icon--light {
  color: #fafafa;
}
.light .icon--dark {
  color: #151d2a;
}
.light .ball {
  background-color: #151d2a;
}
/* ---- ---- Dark Mode ---- ---- */
.dark {
  background-color: #151d2a;
}
.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}
.dark .icon--light {
  color: #151d2a;
}
.dark .icon--dark {
  color: #fafafa;
}
.dark .ball {
  background-color: #fafafa;
  transition: 0.3s;
  transform: translateX(60px);
}
